html, body{height:100%; margin:0;padding:0}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding-top: 20%;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}



.centering {
  z-index: 100;
  height: 500px;
  float:none;
  margin:0 auto;
  background-color: lightskyblue;
}

.centering:hover {
  z-index: 90;
}
